/*Start grundlegende Styles*/
html {
    font-size: 10px;
    font-family: 'Fondamento', cursive;
    background-color: rgb(43, 2, 2);
    color: #fafafa;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-shadow: 2px 1px 20px #7d0617; /*1.horizontaler Versatz nach rechts (negative Zahl nach links), 2. vertikaler Versatz nach untern (negative Zahl nach oben), 3. Pixelbereich indem der Schatten verwischt (größere Zahle=leichterer Schatten)*/
    text-align: center;
    color: #7d0617;
}

body {
    position: relative; /*die standart Position ist static und mit position relativ kann ich den Inhalt relativ zur staticposition verschieben.*/
    width: 800px; /*legt die Breite fest*/
    padding: 0 300px 300px 300px; /*Der Abstand direkt um den Inhalt drumherum. Der erste Wert steht für den Abstand nach oben und der zweite/dritte für den Abstand nach links und rechts und der vierte für den nach unten*/
    margin: 0 auto; /*Außenabstand(außerhalb des Rahmens).Der erste Wert steht für den Abstand nach oben und der zweite für den Abstand nach links und rechts*/
    background-color: black;
    border: 5px solid white; /*Ein Rahmen direkt um den padding*/
}

.content {
    text-align: center;
    font-size: 20px;
}

#introduction {
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}

button {
    display: block;
    margin: 0.5em auto;
    color: #7d0617;
    border-radius: 15px;
    background-color: #000;
    font-family: 'Fondamento', cursive;
}

/*Ende grundlegende Styles*/


/*Start Menü*/
.menu {

    position: absolute; /*position absolut schaut immer welcher höher gelegene Knoten als erster nicht die norm position static hat und benutzt diesen als bezugspunkt*/
    left: 0px; /*zum verschieben des inhaltes*/
    text-align: left;
    color: #7d0617;
    font-size: 35px;
    width: 150px;
    background-color: black;
    user-select: none;
    border-radius: 10px;
    padding: 5px;
}

.menu .text:after {
    content: " +";

}

.menu.active .text:after {
    content: " -"
}

.dropDownMenu {
    display: none;

    padding: 5px;

    border-radius: 10px;

    position: absolute;
    top: 50px;
    left: 10px;

}

.menu.active .dropDownMenu {
    display: initial;

}

/*.dropDownMenuItem {
    color: #0022ff;
    font-size: 20px;
}
*/
.dropDownMenuItem :link { /*Style von Links die noch nicht besucht wurden*/
    color: #7d0617;
    font-size: 20px;
}

.dropDownMenuItem :visited { /*Style von Links die schon besucht wurden*/
    color: #7d0617;
    font-size: 20px;
}

.dropDownMenuItem #toDoListLink {
    position: absolute;
    top: 5px;
    width: 250px;
}

.dropDownMenuItem #calculatorLink {
    position: absolute;
    top: 30px;
    width: 250px;
}


/*Ende Menü*/
/* Start Bilder*/
img {
    display: block; /*Bilder sind keine Blöcke, hiermit wird ein Block für das Bild "gebaut"*/
    margin: 0 auto;
    width: 95%;
}

/*Ende Bilder*/


/*Start TodoListe*/

#doSomethingWithRoxy {
    margin-top: 4em;
    font-size: 60px;
    line-height: 2px;
    letter-spacing: 1px;
    text-align: center;
    color: #7d0617;
}


#toDo {
    width: 75px;
    margin: 1rem auto;
    padding: 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #fafafa;
}

#doButton {
    margin-top: 5em;
    font-size: 23px;
    font-family: 'Fondamento', cursive;
}

/*Ende TodoListe*/


/*Start Rechner*/

#calculatorIntroduction {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    color: #7d0617;
}

#calculator {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.result {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.right {
    color: rgb(129, 246, 11);
}

.false {
    color: rgb(186, 6, 6);
}

#calcu {
    margin-top: 4em;
    font-size: 25px;
    line-height: 2px;
    letter-spacing: 1px;
    text-align: center;
    color: #7d0617;
}

/*Ende Rechner*/

